body {
   background-color: orange;
   color: black;
background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "ingra";
}    

h4 {
    font-family: "ingra";
    text-transform: uppercase;
}

.homepage #logo {
    font-family: "sutro-shaded-gradient", sans-serif;
    
}

.homepage #pagecontainer {
    *zoom: 1;
    position: relative;
    height: 100%;
    margin: 0 auto;
    min-height: 600px;
    padding: 16px 0 1em 0;
    width: 868px;
    background-color: rgb(248, 113, 0);
}

#topban {
    background-color: rgb(248, 113, 0);
}

#topban h2 {
    font-family: "brim-narrow-combined-1";
    font-weight: bold;
    text-transform: capitalize;
    color: white;
}

#leftbar {
    background-color: rgb(248, 113, 0);
}

.homepage #logo {
    font-family: "franklin-gothic-urw-comp", sans-serif;
}

.homepage #postlks #post {
    padding: 2px .5em;
    background-color: rgb(248, 113, 0);
}

a:visited,
  a:active,
  a:link{
    text-decoration: none;
    color: white;
  }

  .cal td {
    background: #3C3C3C;}
    
    .cal td.today {
    background: #f66001;}
legend {
    color: white;
}

.homepage #center .ban{
  background-color: rgb(248, 113, 0);
  height:100%;
  margin-top: 0;
  margin-bottom: 0;
}

.homepage .col ul{
    /*background-color: transparent;*/
  }

.homepage #center .ban h4 {
    color: white;
}


.homepage #rightbar {
    background-color: rgb(248, 113, 0);
}

.homepage #rightbar h5 {
    background: rgb(248, 113, 0);
  padding-right: 5px;
  padding-left: 5px;
}

.homepage #rightbar h5.active {
    background: rgb(248, 113, 0);
    color: white;
}


.homepage #rightbar h5 {
    color: white;
}

.homepage footer {
    background-color: rgb(248, 113, 0);
  }

.linklike {
    color: black;
}






