header {
	background-image: url('BannerBackground.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: fixed;
	
}

body {
	background-image: url('BannerBackground.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: fixed;*/
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	}

/* Index Starts */

#banner {
	/*background-color: black;
	width: 1423px;
	height: 48px;
	padding-top: 24px;
	text-align: center;*/	
}

nav {
	background-color: black;
	width: 1423px;
	height: 48px;
	padding-top: 24px;
	margin-top: 50px;
	text-align: center;
	position: relative;
	z-index: 999;
}

nav a {
	color: white;
	font-size: 16px;
	text-decoration: none;
	padding-right: 5px;
	padding-bottom: 5px;
	position: relative;
	

}

.sign {
	color: #a09fa0;
	position: absolute;
	top: 23px;
	right: 147px;
	
}

.logo {
	position: absolute;
	top: 17px;
	left: 82px;
}
	

.cart {
	position: absolute;
	top: 10px;
	right: 82px;
	
}

.woman {
	position: absolute;
	top: 79px;
	left: 161px;
	z-index: 1;
}

.title {
	position: absolute;
	z-index: 2;
	top: 308px;
	left: 218px;
}

.button {
	text-decoration: none;
	background-color: white;
	color: black;
	font-size: 16px;
	width: 87px;
	height: 23px;
	padding: 10px;
	position: absolute;
	z-index: 3;
	top: 557px;
	left: 675px;
}

.button:hover {
	color: white;
	background: purple;
	border: white solid 2px; 
	position: absolute;
	transition-property: background, color, border;
	transition-duration: 2s;
}

.container {
	width: 100%;
	margin: auto;
}

#our-story {
	background-color: #44204d;
	background-size: 1450px;
}





